[package]
name = "ac_scheduler_runtime"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
uuid = { workspace = true }
ac_topology_model = { path = "../ac_topology_model" }
